@media screen and (min-width: 576px) {
  .nav-menu-hamberg {
    display: none;
  }
  #run-an-extra-img {
    width: 35%;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
  }
  #run-an-extra-img > img {
    position: absolute;
    transform: scale(2.5);
    margin-top: 22%;
    margin-left: -30%;
  }
}
@media screen and (max-width: 576px) {
  .nav-menu {
    display: none;
  }
  .nav-bar-container {
    padding: 0 20px;
  }
  .hero-banner-container {
    flex-direction: column;
  }
  .hero-banner-content > h1 {
    padding: 0 20% 10% 5%;
    font-size: 2.7rem;
    line-height: 140%;
  }
  #special-1 {
    font-size: 2.7rem;
  }
  .hero-banner-content > p {
    padding: 0 20% 10% 5%;
  }
  .hero-banner-content,
  .hero-banner-img {
    width: 100%;
  }

  .banner-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    padding: 0 8%;
    padding-bottom: 20%;
  }
  .hero-banner-img {
    padding: 0 20px;
  }
  .banner-small-box-1 {
    width: 100%;
    margin-left: 120%;
    margin-top: -350%;
  }
  .banner-small-box-2 {
    width: 105%;
    margin-left: 0%;
    margin-top: 100%;
  }

  .change-your-habits-content > h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .change-your-habits-content > p {
    width: 95%;
  }
  .change-your-habits-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3%;
    margin-bottom: 60%;
  }
  .habits-box {
    padding: 10%;
  }
  .habits-box > img {
    height: 80%;
  }
  .habits-box > h1 {
    margin-top: 10%;
  }

  .run-an-extra-container {
    margin-top: 70%;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
  }
  .run-an-extra-content,
  .run-an-extra-img {
    width: 95%;
    margin: 0 auto;
  }

  .run-an-extra-content {
    padding-right: 10%;
    align-items: center;
    text-align: center;
  }
  .run-an-extra-content > button {
    width: 112%;
    margin: 0 auto;
    margin-bottom: 10%;
  }
  .run-an-extra-img > img {
    border-radius: 18px;
  }

  .three-time-meal-container {
    width: 95%;
    margin: 0 auto;
  }
  .three-time-meal-box {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    padding-bottom: 10em;
  }

  .meal-box > img {
    margin-top: 5%;
    height: 18em;
  }
  .meal-box > h1 {
    margin-top: 5%;
  }
  .meal-box > p {
    margin-top: 2%;
  }
}
