@media screen and (min-width: 576px) {
  /* header section responsive style start here  */
  .nav-menu-hamberg {
    display: none;
  }
  #run-an-extra-img {
    width: 35%;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
  }
  /* run an extra responsive section style start here */
  #run-an-extra-img > img {
    position: absolute;
    transform: scale(2.6);
    margin-top: 22%;
    margin-left: -30%;
  }
  /* Meet our team section responsive style start here  */
  .small-device {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* header section responsive style start here  */
  .nav-menu {
    display: none;
  }
  .nav-bar-container {
    padding: 8% 20px;
  }
  /* hero banner responsive style start here  */
  .hero-banner-container {
    flex-direction: column;
  }
  .hero-banner-content > h1 {
    padding: 0 20% 10% 5%;
    font-size: 3rem;
    line-height: 140%;
  }
  #special-1 {
    font-size: 2.7rem;
  }
  .hero-banner-content > p {
    padding: 0 10% 10% 5%;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.2rem;
  }
  .hero-banner-content,
  .hero-banner-img {
    width: 100%;
  }

  .banner-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    padding: 0 5% 20% 5%;
  }
  .primary-btn {
    justify-content: center;
    align-items: center;
    padding: 1.4rem 2rem 1.4rem 2rem;
    border-radius: 46px;
    color: white;
    background: rgb(230, 83, 60);
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
  }
  #club {
    display: none;
  }

  #download-btn {
    background: none;
    border: 1px solid white;
    padding: 1rem;
  }

  .hero-banner-img-container {
    padding-left: 0;
  }
  .hero-banner-img-container {
    padding: 20% 20% 0 20%;
    overflow: hidden;
  }
  .hero-banner-img-container > img {
    transform: scale(1.5);
  }

  .banner-small-box-1 {
    width: 100%;
    margin-left: 87%;
    margin-top: -270%;
    padding: 8% 10px;
  }
  .banner-small-box-2 {
    width: 105%;
    margin-left: -20%;
    margin-top: 80%;
    padding: 8% 10px;
  }
  /* change-your-habits-section responsive style start here  */
  .change-your-habits-content > h1 {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
  }
  .change-your-habits-content > p {
    width: 90%;
    font-size: 1rem;
    font-weight: 250;
    line-height: 2rem;
  }
  .change-your-habits-boxes {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1%;
    margin-bottom: 20%;
  }
  .habits-box {
    padding: 10%;
  }
  .habits-box > h1 {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  .habits-box > p {
    font-size: 1rem;
    font-weight: 250;
    line-height: 1.5rem;
  }

  /* run an extra responsive section style start here */
  .run-an-extra-container {
    margin-top: 60%;
    width: 90%;
    padding: 8%;
    margin: 0 auto;
    flex-direction: column;
  }
  .run-an-extra-content,
  .run-an-extra-img {
    width: 100%;
    padding-right: 0;
  }
  .run-an-extra-content > h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .run-an-extra-content > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%;
  }
  #run-an-extra-img {
    overflow: hidden;
    border-radius: 26px;
    max-height: 12em;
  }
  #run-an-extra-img > img {
    transform: scale(1.6);
    padding-top: 12%;
    padding-right: 14%;
  }

  .run-an-extra-content {
    align-items: center;
    text-align: center;
  }
  .run-an-extra-content > button {
    width: 100%;
    margin: 0 auto;
    padding: 6% 20%;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10%;
  }
  .run-an-extra-img > img {
    border-radius: 18px;
  }
  /* three-time-meal-container responsive style start here  */
  .three-time-meal-container {
    width: 90%;
    margin: 0 auto;
  }
  .three-time-meal-box {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    padding-bottom: 10em;
  }

  .meal-box > img {
    margin-top: 5%;
    height: 18em;
  }
  .meal-box > h1 {
    margin-top: 5%;
  }
  .meal-box > p {
    margin-top: 2%;
  }
  /* BMI Calculator section responsive style start here  */
  .bmi-calculator-content {
    flex-direction: column;
  }

  .bmi-calculator-section > h1,
  .bmi-calculator-section > p {
    margin: 0 5%;
  }
  .bmi-calculator-section > h1 {
    font-size: 2.8rem;
  }
  .table-section-content {
    width: 90%;
    margin: 0 auto;
    align-items: start;
    justify-content: center;
    margin-bottom: 10%;
  }
  th {
    width: 11em;
  }
  .form-content {
    width: 90%;
    margin: 0 auto;
  }
  .form-fillup {
    margin-right: 1em;
  }
  .form-fillup-1st-four-option {
    grid-template-columns: repeat(2, 50%);
  }
  #factor {
    width: calc(100% + 1em);
  }
  /* Meet our team section responsive style start here  */
  .large-device {
    display: none;
  }
  .meet-our-team-container {
    /* padding-bottom: 15%; */
    padding: 20% 5%;
  }

  .meet-our-team-content {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 20em;
  }
  .meet-our-team-member > h1 {
    padding-left: 3%;
    margin-top: -15%;
  }
  .meet-our-team-member > p {
    padding-left: 3%;
    margin-top: -8%;
  }
  /* footer section responsive style start here  */
  .footer-content {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
  .footer-container > hr {
    margin: 0 5%;
  }
  .footer-container > p {
    padding: 10% 0 15% 0;
  }
}
